body {
   background: rgb(99, 39, 120)
}

.row input {
   outline: 0;
   border-width: 0 0 2px;
   border-color: rgb(45, 42, 42);
   transition: all 12s ease-in;
}

.row input:focus {
   border-color: rgb(65, 66, 65);
   border-width: 0 0 0.2px;
}

.form-control:focus {
   box-shadow: none;
   border-color: #BA68C8
}

.profile-button {
   background: rgb(99, 39, 120);
   box-shadow: none;
   border: none
}

.profile-button:hover {
   background: #682773
}

.profile-button:focus {
   background: #682773;
   box-shadow: none
}

.profile-button:active {
   background: #682773;
   box-shadow: none
}

.back:hover {
   color: #682773;
   cursor: pointer
}

.labels {
   font-size: 11px
}

.add-experience:hover {
   background: #BA68C8;
   color: #fff;
   cursor: pointer;
   border: solid 1px #BA68C8
}